# Configuration and state filess
config.json
state.json

# Downloaded menus
menus/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Logs
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
